{% load static %}
<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-5 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-md-center align-items-lg-center align-items-xl-center"><img class="ml-3 mt-2" src="{% static 'img/5Vv0Bqxa6g0.png'%}" style="width: 128PX;">
        <h1 class="ml-3 logo" style="font-weight: 600;">Клуб<br>военно-исторической<br>реконструкции<br>«Служивый»<br></h1>
    </div>
    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center navigation">
        <a href="{% url 'home' %}" style="font-size: 25px;">Главная</a>
        <a class="ml-4" href="admin/" style="font-size: 25px;">Редактор</a>
    </div>
</div>