
a {
  color: rgb(0,0,0);
  text-decoration: none;
}

li{
  list-style-type: none;
}

@media (max-width: 768px) {
  .navigation {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 25px;
  }
}

@media (min-width: 400px) {
  .logo {
    font-size: 30px;
  }
}

@media (min-width: 401px) {
  .vidio {
    width: 300px;
  }
}

@media (max-width: 401px) {
  .vidio {
    width: 200px;
  }
}

.dropdown{
  z-index: 30;
  position: absolute;
  width: 330px; 
  height: 150px;
  margin-left:370px;
  margin-top: 200px;
  opacity: 0;
}
@media (max-width: 768px) {
  .dropdown{
  z-index: 30;
  position: absolute;
  width: 330px; 
  height: 150px;
  margin-left:370px;
  margin-top: 50px;
  opacity: 0;
}
.img1{
  width: 500px;
}
}
@media (max-width: 425px) {
  .dropdown{
  z-index: 30;
  position: absolute;
  width: 200px; 
  height: 190px;
  margin-left:200px;
  margin-top: 50px;
  opacity: 0;
}
.img1{
  width: 350px;
}

.navigation > .about-our:focus +.dropdown{
  opacity: 1;

}  

