{% extends "base.html" %}



{% block categore %}
<ui class="mt-4 col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex ">
    <li class="mr-3" style="list-style-type: none; font-weight: 500; ">Категории:</li>
    {% for item1 in category %}
    {% autoescape off %}
    <li class="mr-3" style="list-style-type: none;"><a href="{{item1.pk}}">{{ item1.title }}</a></li>
    {% endautoescape %}
    {% endfor %}
</ui>
{% endblock %}

{% block content %}
{% for item2 in article %}
{% if item2.is_published == True %}
<div class="m-auto mt-0 " style="max-width: 1200px;">
    <hr>
    <div class="row m-auto " style="max-width: 1200px; background-color: white; border-radius: 5px;">
        <div class="col-xl-6 mt-5">
            <p>Категория: {{ item2.category }}</p>

            <h3>{{ item2.title }}</h3>
        </div>
        <div class="col-xl-12  mt-0">
            {% autoescape off %}
            <p>{{ item2.text }} </p>
            {% endautoescape %}
        </div>

        <div class="col-xl2 offset-xl-10 text-center">
            <p class="text-center">Автор: {{ item2.author }}</p>
            <p class="text-center">Опубликации: {{ item2.created_at|date:"Y-m-d" }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}






















